body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.quadrado {
    height: 100px;
    width: 100px;
}
.vermelho {
    background-color: red;
}

.azul {
    background-color: blue;
}

.amarelo {
    background-color: yellow;
}
