
@font-face {
    font-family: 'Milky';
    src: url(/src/fontes/MilkyNice.otf), url(./src/fontes/MilkyNice.ttf);
}

body {
    background-color: pink;
}

h1 {
    font-family: 'Milky', Arial, sans-serif;
}

a {
    cursor: progress;
}
